<blockquote>
  <h3><%= post.title %></h3>
  <% if post.body && post.body.length > 0 %>
    <p><%= simple_format(post.body) %></p>
    <br>
  <% end %>
  <small>by 
    <%= link_to post.user.username, user_path(post.user) %> 
    about <%= time_ago_in_words(post.created_at) %> ago
    <% if user_signed_in? && current_user == post.user %>
      <%= link_to "edit", edit_post_path(post)%>
      |
      <%= link_to "delete", post_path(post), method: :delete %>
    <% end %>
  </small>
</blockquote>